@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Kufam:ital,wght@1,500&family=Marhey&family=Reem+Kufi:wght@500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
:root {
  --primary: rgb(1, 235, 248);
  --secondary: #fe3f40;
  --light: #ffffff;
  --dark: #161313;
  --dark-color: hsl(212, 42%, 15%);
  --bac-color: #020113;
  --title: 3.6rem;
  --Side_title: 2.4rem;
  --title-product: 1.7rem;
  --text-product: 1.1rem;
  --textP: 1.6rem;
  --body-color: #ffffff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #00243b;
}

html::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 5rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../images/back_login.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 160px 0;
}
/*background_animation */
canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}

a {
  position: absolute;
  bottom: 2vmin;
  right: 2vmin;
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none !important;
}

a:hover {
  color: #ffffff;
}

/*background_animation */

/* btn_Back to home*/
.btn-content {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #00243b;
  --color-outline: #003251;
  --color-shadow: #00000080;
  margin-right: 20px;
  margin-bottom: 85vh;
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}

/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}
/* btn_Back to home*/
/*_________________sign up_______________*/

.main {
  width: 500px;
  height: 600px;
  background: red;
  overflow: hidden;
  background-color: #00000094;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  padding-top: 50px;
}
#chk {
  display: none !important;
}
.signup {
  position: relative !important;
  margin: auto !important;
  width: 100% !important;
  height: 100% !important;
}
label {
  color: #ffffff !important;
  font-size: 3rem !important;
  justify-content: center !important;
  display: flex !important;
  margin: 60px  !important;
  font-weight: bold !important;
  cursor: pointer !important;
  transition: 0.5s ease-in-out !important;
}
input{
text-transform: none !important;
  width: 70% !important;
  height: 20px !important;
  background: #e0dede !important;
  justify-content: center !important;
  display: flex !important;
  margin: 20px auto !important;
  padding: 17px !important;
  border: none !important;
  outline: none !important;
  border-radius: 5px !important;
  font-size: 1.5rem !important;
}
button {
  width: 70% !important;
  height: 40px !important;
  margin: 10px auto !important;
  justify-content: center !important;
  display: block !important;
  color: #000000 !important;
  background: var(--light) !important;
  font-size: 1.7em !important;
  font-weight: bold !important;
  margin-top: 20px !important;
  outline: none !important;
  border: none !important;
  border-radius: 5px !important;
  transition: 0.3s ease-in !important;
  cursor: pointer !important;
}
button:hover {
  color: var(--light) !important;
  background: var(--secondary) !important;
}
.login {
  height: 460px !important;
  background: #f7f7f7 !important;
  border-radius: 60% / 10% !important;
  transform: translateY(-180px) !important;
  transition: 0.8s ease-in-out !important;
}
.login label {
  font-size: 3rem !important;
  font-weight: 700 !important;
  color: var(--dark) !important;
  transform: scale(0.6) !important;
}

#chk:checked ~ .login {
  transform: translateY(-520px) !important;
}
#chk:checked ~ .login label {
  transform: scale(1) !important;
}
#chk:checked ~ .signup label {
  transform: scale(0.6) !important;
}
/*_________________sign up_______________*/

/*______start_الرساله_popup___*/
.container_popup{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3333337e;
  display: -moz-grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: auto;
  margin: 50px;
}
.Popup_card{
  width: 400px;
  height: auto;
  margin: auto;
  margin-top: 100px;
  display: -moz-grid;
  align-items:center ;
  text-align: center;
  justify-content: center;
  box-shadow: 1px 1px 25px var(--light);
  background: url(../images/background-P-M-D.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
  padding: 50px;
}
.Popup_card .Iecon .fac{
  font-size: 6rem;
  color: var(--secondary);
}
.Popup_card .Name_Error{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--dark);
  margin: 20px;
}
.Popup_card .suggestion P{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--dark);
  margin: 20px;
}
.Popup_card input{
  width: 60% !important;
  height: auto   !important;
  margin: auto !important;
  margin-top: 5vh !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  color: var(--light) !important;
  background-color: var(--dark) !important;
  border-radius: 5px !important;
  transition: 0.4s !important;
}
.Popup_card input:hover{
  background-color: var(--secondary) !important;
}
/*______end_الرساله_popup___*/





